<div class="rounded">
    <div class="container-fluid">
        <div class="row">
                <div class="col-xl-2 col-sm-4 col-lg-3 col-6" *ngFor="let movie of pagedGenreSet.data">
                    <div class="card mb-4">
                        <a [routerLink]="['/Movie-Details', movie.id]">
                            <img src="{{movie.posterUrl}}" class="img-fluid" alt="{{movie.title}}" />
                        </a>
                    </div>
                </div>
        </div>
    </div>
</div>

<nav aria-label="Genre Page Navigation">
    <ul class="pagination">
        <li class="page-item {{prevDisabled}}">
            <a class="page-link">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <ng-container *ngIf="pagedGenreSet.pageIndex < 5; else blockOne">
        <li class="page-item {{isActive(page)}}" *ngFor="let page of pages.slice(0,5)"><a class="page-link" (click)="getNextPage(page)">{{page}}</a></li>
        <li class="page-item disabled" *ngIf="pagedGenreSet.totalPages>5"><a class="page-link"><span aria-hidden="true">...</span></a></li>
        <li class="page-item" *ngIf="pagedGenreSet.totalPages>5"><a class="page-link" (click)="getNextPage(pagedGenreSet.totalPages)">{{pagedGenreSet.totalPages}}</a></li>
        </ng-container>

        <ng-template #blockOne>

        <ng-container *ngIf="pagedGenreSet.pageIndex >= pagedGenreSet.totalPages-3; else elseBlock">
        <li class="page-item"><a class="page-link" (click)="getNextPage(1)">1</a></li>
        <li class="page-item disabled"><a class="page-link"><span aria-hidden="true">...</span></a></li>
        <li class="page-item {{isActive(page)}}" 
            *ngFor="let page of pages.slice(pagedGenreSet.totalPages-5,pagedGenreSet.totalPages)">
            <a class="page-link" (click)="getNextPage(page)">{{page}}</a>
        </li>
        </ng-container>

        <ng-template #elseBlock>
        <li class="page-item"><a class="page-link" (click)="getNextPage(1)">1</a></li>
        <li class="page-item disabled"><a class="page-link"><span aria-hidden="true">...</span></a></li>
        <li class="page-item {{isActive(page)}}"
            *ngFor="let page of pages.slice(pagedGenreSet.pageIndex-3,pagedGenreSet.pageIndex+2)">
            <a class="page-link" (click)="getNextPage(page)">{{page}}</a>
        </li>
        <li class="page-item disabled"><a class="page-link"><span aria-hidden="true">...</span></a></li>
        <li class="page-item"><a class="page-link" (click)="getNextPage(pagedGenreSet.totalPages)">{{pagedGenreSet.totalPages}}</a></li>
        </ng-template>

        </ng-template>

        <li class="page-item {{nextDisabled}}">
            <a class="page-link" asp-action="Genre" asp-route-page="@(Model.PageIndex+1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>

    </ul>
</nav>